@font-face {
  font-family: "Roboto Mono";
  src: url("RobotoMono-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Roboto Mono";
  src: url("RobotoMono-Medium.ttf") format("truetype");
  font-weight: 500;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -webkit-appearance: none;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scrollbar-gutter: stable;
  overflow-y: scroll;
  scrollbar-color: #5f6b7c #ffffff;
}
html.dark3-scroll {
  scrollbar-color: #555b63 #30404d;
}
html.dark5-scroll {
  scrollbar-color: #555b63 #2f343c;
}

body {
  font-family: Roboto, Noto, sans-serif;
}

body {
  background-color: #f6f7f9;
}
body.bp5-dark {
  background-color: #252a31;
}

code {
  font-family: Consolas, Menlo, 'Roboto Mono', 'DejaVu Sans Mono';
  font-weight: 400;
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

h2 {
  font-size: 28px;
}

h5 {
  font-size: 16px;
}

.no-select {
  user-select: none;
}

.logo-dark {
  display: none;
}

.hljs {
  border-radius: 3px;
}

code.intent-primary {
  background-color: #ecf8ff;
}
.bp5-dark code.intent-primary {
  background-color: #183345;
}

code.intent-secondary {
  background-color: #fff1e7;
}
.bp5-dark code.intent-secondary {
  background-color: #3a322c
}

.bp5-dark .logo-light {
  display: none;
}

.bp5-dark .logo-dark {
  display: block;
}

.bp5-button:disabled, .bp5-button.bp5-disabled {
  cursor: default !important;
}

.bp5-input:disabled, .bp5-input.bp5-disabled {
  cursor: default !important;
}

.bp5-select select:disabled, .bp5-select select.bp5-disabled {
  cursor: default !important;
}

.bp5-text-intent-primary {
  color: #106ba3;
}
.bp5-dark .bp5-text-intent-primary {
  color: #2b95d6;
}

.bp5-text-intent-success {
  color: #0d8050;
}
.bp5-dark .bp5-text-intent-success {
  color: #15b371;
}

.bp5-text-intent-warning {
  color: #bf7326;
}
.bp5-dark .bp5-text-intent-warning {
  color: #f29d49;
}

.bp5-text-intent-danger {
  color: #c23030;
}
.bp5-dark .bp5-text-intent-danger {
  color: #f55656;
}

.bp5-border {
  border-width: 1px;
  border-color: rgba(16, 22, 26, 0.15);
}

.bp5-dark .bp5-border {
  border-color: rgba(255, 255, 255, 0.15);
}

.bp5-button.bp5-button-empty[class*="bp5-icon-"] {
  padding: 0;
}

.bp5-button.bp5-button-empty[class*="bp5-icon-"]::before {
  margin-right: 0;
}

.bp5-row .bp5-cell span {
  vertical-align: middle;
}

.bp5-row .bp5-cell {
  border-top: 1px solid rgba(16, 22, 26, 0.15);
  border-bottom: 1px solid rgba(16, 22, 26, 0.15);
}

.bp5-row .bp5-cell:first-child {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  border-left: 1px solid rgba(16, 22, 26, 0.15);
}

.bp5-row .bp5-cell:last-child {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-right: 1px solid rgba(16, 22, 26, 0.15);
}

.bp5-dark .bp5-row .bp5-cell {
  border-top: 1px solid rgba(16, 22, 26, 0.5);
  border-bottom: 1px solid rgba(16, 22, 26, 0.5);
}

.bp5-dark .bp5-row .bp5-cell:first-child {
  border-left: 1px solid rgba(16, 22, 26, 0.5);
}

.bp5-dark .bp5-row .bp5-cell:last-child {
  border-right: 1px solid rgba(16, 22, 26, 0.5);
}

.bp5-progress-bar .bp5-loading-bar {
  animation: bp5-loading-bar-frames 2s linear infinite;
}

label.bp5-label .bp5-button-group {
  margin-top: 5px !important;
}

.bp5-select-popover .bp5-menu {
  max-height: 400px;
  overflow-y: auto;
}

@keyframes bp5-loading-bar-frames {
  from {
    left: -200px;
    width: 30%;
  }
  50% {
    width: 30%;
  }
  70% {
    width: 70%;
  }
  80% {
    left: 50%;
  }
  95% {
    left: 120%;
  }
  to {
    left: 100%;
  }
}

.bp5-card-header {
  background-color: rgba(0, 0, 0, 0.06)
}

.bp5-dark .bp5-card-header {
  background-color: rgba(0, 0, 0, 0.13)
}

.bp5-toast-container.bp5-toast-container-bottom {
  position: fixed !important;
}
.bp5-toast-container.bp5-toast-container-inline {
  position: fixed !important;
}

.bp3-theme.bp5-dark .bp5-datepicker {
  background: #30404d !important;
}

#chartjs-tooltip {
   background-color: #fcfcfc;
 }

.bp5-dark #chartjs-tooltip {
  background-color: #232f38;
}

#chartjs-tooltip {
  padding: 0 3px 3px 3px;
}

#chartjs-tooltip th {
  font-size: 12px;
}

#chartjs-tooltip td {
  font-size: 10px;
  padding: 4px 4px 2px 6px;
  position: relative;
}

#chartjs-tooltip td.line-box {
  padding: 4px 4px 2px 17px;
}

#chartjs-tooltip td span {
  width: 10px;
  height: 10px;
  border-width: 2px;
  border-style: solid;
  top: 4px;
  left: 3px;
  position: absolute;
}

/*******************************
          Flex Layout
*******************************/
.layout.horizontal,
.layout.horizontal-reverse,
.layout.vertical,
.layout.vertical-reverse {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.layout.inline {
  display: -ms-inline-flexbox;
  display: -webkit-inline-flex;
  display: inline-flex;
}
.layout.horizontal {
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;
}
.layout.horizontal-reverse {
  -ms-flex-direction: row-reverse;
  -webkit-flex-direction: row-reverse;
  flex-direction: row-reverse;
}
.layout.vertical {
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
}
.layout.vertical-reverse {
  -ms-flex-direction: column-reverse;
  -webkit-flex-direction: column-reverse;
  flex-direction: column-reverse;
}
.layout.wrap {
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
.layout.no-wrap {
  -ms-flex-wrap: nowrap;
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
}
.layout.wrap-reverse {
  -ms-flex-wrap: wrap-reverse;
  -webkit-flex-wrap: wrap-reverse;
  flex-wrap: wrap-reverse;
}
.flex-auto {
  -ms-flex: 1 1 auto;
  -webkit-flex: 1 1 auto;
  flex: 1 1 auto;
}
.flex-none {
  -ms-flex: none;
  -webkit-flex: none;
  flex: none;
}
.flex,
.flex-1 {
  -ms-flex: 1;
  -webkit-flex: 1;
  flex: 1;
}
.flex-2 {
  -ms-flex: 2;
  -webkit-flex: 2;
  flex: 2;
}
.flex-3 {
  -ms-flex: 3;
  -webkit-flex: 3;
  flex: 3;
}
.flex-4 {
  -ms-flex: 4;
  -webkit-flex: 4;
  flex: 4;
}
.flex-5 {
  -ms-flex: 5;
  -webkit-flex: 5;
  flex: 5;
}
.flex-6 {
  -ms-flex: 6;
  -webkit-flex: 6;
  flex: 6;
}
.flex-7 {
  -ms-flex: 7;
  -webkit-flex: 7;
  flex: 7;
}
.flex-8 {
  -ms-flex: 8;
  -webkit-flex: 8;
  flex: 8;
}
.flex-9 {
  -ms-flex: 9;
  -webkit-flex: 9;
  flex: 9;
}
.flex-10 {
  -ms-flex: 10;
  -webkit-flex: 10;
  flex: 10;
}
.flex-11 {
  -ms-flex: 11;
  -webkit-flex: 11;
  flex: 11;
}
.flex-12 {
  -ms-flex: 12;
  -webkit-flex: 12;
  flex: 12;
}
.layout.start {
  -ms-flex-align: start;
  -webkit-align-items: flex-start;
  align-items: flex-start;
}
.layout.center,
.layout.center-center {
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.layout.end {
  -ms-flex-align: end;
  -webkit-align-items: flex-end;
  align-items: flex-end;
}
.layout.start-justified {
  -ms-flex-pack: start;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
}
.layout.center-justified,
.layout.center-center {
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.layout.end-justified {
  -ms-flex-pack: end;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}
.layout.around-justified {
  -ms-flex-pack: around;
  -webkit-justify-content: space-around;
  justify-content: space-around;
}
.layout.justified {
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
.self-start {
  -ms-align-self: flex-start;
  -webkit-align-self: flex-start;
  align-self: flex-start;
}
.self-center {
  -ms-align-self: center;
  -webkit-align-self: center;
  align-self: center;
}
.self-end {
  -ms-align-self: flex-end;
  -webkit-align-self: flex-end;
  align-self: flex-end;
}
.self-stretch {
  -ms-align-self: stretch;
  -webkit-align-self: stretch;
  align-self: stretch;
}
.block {
  display: block;
}
[hidden] {
  display: none !important;
}
.invisible {
  visibility: hidden !important;
}
.relative {
  position: relative;
}
.fit {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
body.fullbleed {
  margin: 0;
  height: 100vh;
}
.scroll {
  -webkit-overflow-scrolling: touch;
  overflow: auto;
}
.fixed-bottom,
.fixed-left,
.fixed-right,
.fixed-top {
  position: fixed;
}
.fixed-top {
  top: 0;
  left: 0;
  right: 0;
}
.fixed-right {
  top: 0;
  right: 0;
  bottom: 0;
}
.fixed-bottom {
  right: 0;
  bottom: 0;
  left: 0;
}
.fixed-left {
  top: 0;
  bottom: 0;
  left: 0;
}

/* FIXES */

label.bp5-label .bp5-button-group {
  margin-top: 5px;
}

.bp5-dark:not(.bp3-theme) .bp5-card {
  background-color:#2f343c;
}

.bp5-dark:not(.bp3-theme) .bp5-navbar {
  background-color: rgb(47, 52, 60);
}

.bp5-dark:not(.bp3-theme) .bp5-button:not([class*="bp5-intent-"]):not(.bp5-datepicker *) {
  background-color: rgb(56, 62, 71);
}

.bp5-dark:not(.bp3-theme) .bp5-button:not([class*="bp5-intent-"]):not(.bp5-datepicker *):hover {
  background-color: rgb(47, 52, 60);
}

.bp5-dark:not(.bp3-theme) .bp5-button.bp5-minimal:not([class*="bp5-intent-"]):not(.bp5-datepicker *) {
  background: none;
}

.bp5-dark:not(.bp3-theme) .bp5-button.bp5-minimal:not([class*="bp5-intent-"]):not(.bp5-datepicker *):hover {
  background: rgba(143, 153, 168, 0.15);
}

.bp5-dark:not(.bp3-theme) .bp5-select select:not(.bp5-datepicker *) {
  background-color: rgb(56, 62, 71);
}

.bp5-dark:not(.bp3-theme) .bp5-select select:not(.bp5-datepicker *):hover {
  background-color: rgb(47, 52, 60);
}

.bp5-card .bp5-card-header {
  background-color: rgba(0, 0, 0, 0.04);
}

.bp5-dark .bp5-card .bp5-card-header {
  background-color: rgba(0, 0, 0, 0.13);
}

/***********************************************************************
highlight.js
***********************************************************************/
pre code.hljs {
  display: block;
  overflow-x: auto;
  padding: 1em
}
code.hljs {
  padding: 3px 5px
}
/*

Atom One Light by Daniel Gamage
Original One Light Syntax theme from https://github.com/atom/one-light-syntax

base:    #fafafa
mono-1:  #383a42
mono-2:  #686b77
mono-3:  #a0a1a7
hue-1:   #0184bb
hue-2:   #4078f2
hue-3:   #a626a4
hue-4:   #50a14f
hue-5:   #e45649
hue-5-2: #c91243
hue-6:   #986801
hue-6-2: #c18401

*/
.hljs {
  color: #383a42;
  background: #fafafa
}
.hljs-comment,
.hljs-quote {
  color: #a0a1a7;
  font-style: italic
}
.hljs-doctag,
.hljs-keyword,
.hljs-formula {
  color: #a626a4
}
.hljs-section,
.hljs-name,
.hljs-selector-tag,
.hljs-deletion,
.hljs-subst {
  color: #e45649
}
.hljs-literal {
  color: #0184bb
}
.hljs-string,
.hljs-regexp,
.hljs-addition,
.hljs-attribute,
.hljs-meta .hljs-string {
  color: #50a14f
}
.hljs-attr,
.hljs-variable,
.hljs-template-variable,
.hljs-type,
.hljs-selector-class,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-number {
  color: #986801
}
.hljs-symbol,
.hljs-bullet,
.hljs-link,
.hljs-meta,
.hljs-selector-id,
.hljs-title {
  color: #4078f2
}
.hljs-built_in,
.hljs-title.class_,
.hljs-class .hljs-title {
  color: #c18401
}
.hljs-emphasis {
  font-style: italic
}
.hljs-strong {
  font-weight: bold
}
.hljs-link {
  text-decoration: underline
}
/*

Atom One Dark by Daniel Gamage
Original One Dark Syntax theme from https://github.com/atom/one-dark-syntax

base:    #282c34
mono-1:  #abb2bf
mono-2:  #818896
mono-3:  #5c6370
hue-1:   #56b6c2
hue-2:   #61aeee
hue-3:   #c678dd
hue-4:   #98c379
hue-5:   #e06c75
hue-5-2: #be5046
hue-6:   #d19a66
hue-6-2: #e6c07b

*/
.bp5-dark .hljs {
  color: #abb2bf;
  background: #282c34
}
.bp5-dark .hljs-comment,
.bp5-dark .hljs-quote {
  color: #5c6370;
  font-style: italic
}
.bp5-dark .hljs-doctag,
.bp5-dark .hljs-keyword,
.bp5-dark .hljs-formula {
  color: #c678dd
}
.bp5-dark .hljs-section,
.bp5-dark .hljs-name,
.bp5-dark .hljs-selector-tag,
.bp5-dark .hljs-deletion,
.bp5-dark .hljs-subst {
  color: #e06c75
}
.bp5-dark .hljs-literal {
  color: #56b6c2
}
.bp5-dark .hljs-string,
.bp5-dark .hljs-regexp,
.bp5-dark .hljs-addition,
.bp5-dark .hljs-attribute,
.bp5-dark .hljs-meta .hljs-string {
  color: #98c379
}
.bp5-dark .hljs-attr,
.bp5-dark .hljs-variable,
.bp5-dark .hljs-template-variable,
.bp5-dark .hljs-type,
.bp5-dark .hljs-selector-class,
.bp5-dark .hljs-selector-attr,
.bp5-dark .hljs-selector-pseudo,
.bp5-dark .hljs-number {
  color: #d19a66
}
.bp5-dark .hljs-symbol,
.bp5-dark .hljs-bullet,
.bp5-dark .hljs-link,
.bp5-dark .hljs-meta,
.bp5-dark .hljs-selector-id,
.bp5-dark .hljs-title {
  color: #61aeee
}
.bp5-dark .hljs-built_in,
.bp5-dark .hljs-title.class_,
.bp5-dark .hljs-class .hljs-title {
  color: #e6c07b
}
.bp5-dark .hljs-emphasis {
  font-style: italic
}
.bp5-dark .hljs-strong {
  font-weight: bold
}
.bp5-dark .hljs-link {
  text-decoration: underline
}

/***********************************************************************
bp5 datepicker
***********************************************************************/
.bp5-datepicker input[type=number]::-webkit-inner-spin-button,
.bp5-datepicker input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.bp5-datepicker{
  background:#ffffff;
  border-radius:3px;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  padding:5px;
  position:relative;
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none; }
.bp5-datepicker .DayPicker{
  display:inline-block;
  min-width:210px;
  position:relative;
  vertical-align:top; }
.bp5-datepicker .DayPicker:focus{
  outline:none; }
.bp5-datepicker .bp5-datepicker-day-wrapper{
  border-radius:3px;
  padding:7px; }
.bp5-datepicker .DayPicker-Month{
  border-collapse:collapse;
  border-spacing:0;
  display:inline-table;
  margin:0 5px 5px;
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none; }
.bp5-datepicker .DayPicker-Month + .bp5-datepicker .DayPicker-Month{
  margin-left:10px; }
.bp5-datepicker .DayPicker-Caption{
  display:table-caption; }
.bp5-datepicker .DayPicker-Weekdays{
  display:table-header-group; }
.bp5-datepicker .DayPicker-WeekdaysRow{
  display:table-row; }
.bp5-datepicker .DayPicker-Weekday{
  display:table-cell;
  height:30px;
  line-height:1;
  text-align:center;
  vertical-align:middle;
  width:30px;
  font-weight:600;
  padding-top:5px; }
.bp5-datepicker .DayPicker-Weekday abbr[title]{
  text-decoration:none; }
.bp5-datepicker .DayPicker-Body{
  display:table-row-group; }
.bp5-datepicker .DayPicker-Week{
  display:table-row; }
.bp5-datepicker .DayPicker-WeekNumber{
  display:table-cell;
  height:30px;
  line-height:1;
  text-align:center;
  vertical-align:middle;
  width:30px;
  color:rgba(92, 112, 128, 0.6);
  font-size:14px; }
.bp5-datepicker .DayPicker-Day{
  display:table-cell;
  height:30px;
  line-height:1;
  text-align:center;
  vertical-align:middle;
  width:30px;
  border-radius:3px;
  cursor:pointer; }
.bp5-datepicker .DayPicker-Day.DayPicker-Day--outside{
  color:rgba(92, 112, 128, 0.6); }
.bp5-datepicker .DayPicker-Day.DayPicker-Day--isToday .bp5-datepicker-day-wrapper{
  border:1px solid rgba(16, 22, 26, 0.15); }
.bp5-datepicker .DayPicker-Day:hover, .bp5-datepicker .DayPicker-Day:focus{
  background:#d8e1e8;
  color:#182026; }
.bp5-datepicker .DayPicker-Day:active{
  background:#ced9e0; }
.bp5-datepicker .DayPicker-Day.DayPicker-Day--selected{
  background-color:#137cbd;
  border-radius:3px;
  color:#ffffff; }
.bp5-datepicker .DayPicker-Day.DayPicker-Day--selected:hover{
  background-color:#106ba3; }
.bp5-datepicker .DayPicker-Day.DayPicker-Day--disabled{
  background:none;
  color:rgba(92, 112, 128, 0.6);
  cursor:not-allowed; }

.bp5-datepicker-navbar{
  -webkit-box-align:center;
  -ms-flex-align:center;
  align-items:center;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  height:30px;
  left:0;
  position:absolute;
  right:0;
  top:0; }
.bp5-datepicker-navbar > .DayPicker-NavButton--prev{
  margin-right:auto; }
.bp5-datepicker-navbar > .DayPicker-NavButton--next{
  margin-left:auto; }

.bp5-datepicker-caption{
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-orient:horizontal;
  -webkit-box-direction:normal;
  -ms-flex-direction:row;
  flex-direction:row;
  -webkit-box-pack:justify;
  -ms-flex-pack:justify;
  justify-content:space-between;
  margin:0 25px 5px; }
.bp5-datepicker-caption > *{
  -webkit-box-flex:0;
  -ms-flex-positive:0;
  flex-grow:0;
  -ms-flex-negative:0;
  flex-shrink:0; }
.bp5-datepicker-caption > :first-child{
  -webkit-box-flex:1;
  -ms-flex-positive:1;
  flex-grow:1;
  -ms-flex-negative:1;
  flex-shrink:1; }
.bp5-datepicker-caption select{
  font-weight:600;
  padding-left:5px;
  padding-right:16px; }
.bp5-datepicker-caption select + .bp5-icon{
  right:2px; }
.bp5-datepicker-caption + .bp5-divider{
  margin:0; }

.bp5-datepicker-month-select{
  -ms-flex-negative:1;
  flex-shrink:1; }

.bp5-datepicker-year-select{
  -ms-flex-negative:1;
  flex-shrink:1;
  min-width:60px; }

.bp5-datepicker-caption-measure{
  font-weight:600;
  padding-left:5px; }

.bp5-datepicker-footer{
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-pack:justify;
  -ms-flex-pack:justify;
  justify-content:space-between; }

.bp5-dark .bp5-datepicker{
  background:#30404d; }
.bp5-dark .bp5-datepicker .DayPicker-WeekNumber{
  color:rgba(167, 182, 194, 0.6); }
.bp5-dark .bp5-datepicker .DayPicker-Day.DayPicker-Day--outside{
  color:rgba(167, 182, 194, 0.6); }
.bp5-dark .bp5-datepicker .DayPicker-Day.DayPicker-Day--isToday .bp5-datepicker-day-wrapper{
  border:1px solid rgba(255, 255, 255, 0.15); }
.bp5-dark .bp5-datepicker .DayPicker-Day:hover, .bp5-dark .bp5-datepicker .DayPicker-Day:focus{
  background:#5c7080;
  color:#ffffff; }
.bp5-dark .bp5-datepicker .DayPicker-Day:active{
  background:#738694; }
.bp5-dark .bp5-datepicker .DayPicker-Day.DayPicker-Day--selected{
  background-color:#137cbd; }
.bp5-dark .bp5-datepicker .DayPicker-Day.DayPicker-Day--selected:hover{
  background-color:#2b95d6; }
.bp5-dark .bp5-datepicker .DayPicker-Day.DayPicker-Day--disabled{
  background:none;
  color:rgba(167, 182, 194, 0.6); }
.bp5-dark .bp5-datepicker .bp5-datepicker-footer{
  border-top-color:rgba(16, 22, 26, 0.4); }

.bp5-datepicker-timepicker-wrapper{
  -webkit-box-align:center;
  -ms-flex-align:center;
  align-items:center;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-orient:vertical;
  -webkit-box-direction:normal;
  -ms-flex-direction:column;
  flex-direction:column; }
.bp5-daterangepicker{
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  white-space:nowrap; }
.bp5-daterangepicker .DayPicker-NavButton--interactionDisabled{
  display:none; }
.bp5-daterangepicker .bp5-daterangepicker-timepickers{
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -ms-flex-pack:distribute;
  justify-content:space-around; }
.bp5-daterangepicker.bp5-daterangepicker-contiguous .DayPicker{
  min-width:220px; }
.bp5-daterangepicker.bp5-daterangepicker-single-month .DayPicker{
  min-width:210px; }
.bp5-daterangepicker .DayPicker-Day{ }
.bp5-daterangepicker .DayPicker-Day--outside{
  visibility:hidden; }
.bp5-daterangepicker .DayPicker-Day--hovered-range{
  border-radius:0; }
.bp5-daterangepicker .DayPicker-Day--hovered-range:not(.DayPicker-Day--selected):not(.DayPicker-Day--selected-range):not(.DayPicker-Day--selected-range-start):not(.DayPicker-Day--selected-range-end){
  background-color:#ebf1f5; }
.bp5-daterangepicker .DayPicker-Day--selected-range{
  background-color:#ebf1f5;
  border-radius:0; }
.bp5-daterangepicker .DayPicker-Day--selected-range:hover{
  background-color:#ced9e0; }
.bp5-daterangepicker .DayPicker-Day--selected-range-start:not(.DayPicker-Day--selected-range-end):not(.DayPicker-Day--hovered-range-end){
  border-bottom-right-radius:0;
  border-top-right-radius:0; }
.bp5-daterangepicker .DayPicker-Day--selected-range-end:not(.DayPicker-Day--selected-range-start):not(.DayPicker-Day--hovered-range-start){
  border-bottom-left-radius:0;
  border-top-left-radius:0; }
.bp5-daterangepicker .DayPicker-Day--hovered-range-start:not(.DayPicker-Day--hovered-range-end){
  border-bottom-right-radius:0;
  border-top-right-radius:0; }
.bp5-daterangepicker .DayPicker-Day--hovered-range-end:not(.DayPicker-Day--hovered-range-start){
  border-bottom-left-radius:0;
  border-top-left-radius:0; }
.bp5-dark .bp5-daterangepicker .DayPicker-Day--hovered-range{ }
.bp5-dark .bp5-daterangepicker .DayPicker-Day--hovered-range:not(.DayPicker-Day--selected):not(.DayPicker-Day--selected-range):not(.DayPicker-Day--selected-range-start):not(.DayPicker-Day--selected-range-end){
  background-color:#394b59; }
.bp5-dark .bp5-daterangepicker .DayPicker-Day--selected-range{
  background-color:#394b59; }
.bp5-dark .bp5-daterangepicker .DayPicker-Day--selected-range:hover{
  background-color:#5c7080; }

.bp5-menu.bp5-daterangepicker-shortcuts{
  min-width:120px;
  padding:0; }
.bp5-timepicker{
  white-space:nowrap; }
.bp5-timepicker .bp5-timepicker-arrow-row{
  padding:0 1px; }
.bp5-timepicker .bp5-timepicker-arrow-button{
  color:#5c7080;
  display:inline-block;
  padding:4px 0;
  text-align:center;
  width:33px; }
.bp5-timepicker .bp5-timepicker-arrow-button:hover{
  color:#182026; }
.bp5-dark .bp5-timepicker .bp5-timepicker-arrow-button{
  color:#a7b6c2; }
.bp5-dark .bp5-timepicker .bp5-timepicker-arrow-button:hover{
  color:#f5f8fa; }
.bp5-timepicker .bp5-timepicker-arrow-button + .bp5-timepicker-arrow-button{
  margin-left:11px; }
.bp5-timepicker .bp5-timepicker-arrow-button:hover{
  cursor:pointer; }
.bp5-timepicker .bp5-timepicker-input-row{
  background:#ffffff;
  border-radius:3px;
  -webkit-box-shadow:inset 0 0 0 1px rgba(16, 22, 26, 0.15), inset 0 1px 1px rgba(16, 22, 26, 0.2);
  box-shadow:inset 0 0 0 1px rgba(16, 22, 26, 0.15), inset 0 1px 1px rgba(16, 22, 26, 0.2);
  display:inline-block;
  height:30px;
  line-height:28px;
  padding:0 1px;
  vertical-align:middle; }
.bp5-timepicker .bp5-timepicker-divider-text{
  color:#5c7080;
  display:inline-block;
  font-size:16px;
  text-align:center;
  width:11px; }
.bp5-timepicker .bp5-timepicker-input{
  background:transparent;
  border:0;
  border-radius:3px;
  -webkit-box-shadow:0 0 0 0 rgba(19, 124, 189, 0), 0 0 0 0 rgba(19, 124, 189, 0);
  box-shadow:0 0 0 0 rgba(19, 124, 189, 0), 0 0 0 0 rgba(19, 124, 189, 0);
  color:#182026;
  height:28px;
  outline:0;
  padding:0;
  text-align:center;
  -webkit-transition:-webkit-box-shadow 100ms cubic-bezier(0.4, 1, 0.75, 0.9);
  transition:-webkit-box-shadow 100ms cubic-bezier(0.4, 1, 0.75, 0.9);
  transition:box-shadow 100ms cubic-bezier(0.4, 1, 0.75, 0.9);
  transition:box-shadow 100ms cubic-bezier(0.4, 1, 0.75, 0.9), -webkit-box-shadow 100ms cubic-bezier(0.4, 1, 0.75, 0.9);
  width:33px; }
.bp5-timepicker .bp5-timepicker-input:focus{
  -webkit-box-shadow:0 0 0 1px #137cbd, 0 0 0 3px rgba(19, 124, 189, 0.3);
  box-shadow:0 0 0 1px #137cbd, 0 0 0 3px rgba(19, 124, 189, 0.3); }
.bp5-timepicker .bp5-timepicker-input.bp5-intent-primary{
  -webkit-box-shadow:0 0 0 0 rgba(19, 124, 189, 0), 0 0 0 0 rgba(19, 124, 189, 0), inset 0 0 0 1px #137cbd, inset 0 0 0 1px rgba(16, 22, 26, 0.15), inset 0 1px 1px rgba(16, 22, 26, 0.2);
  box-shadow:0 0 0 0 rgba(19, 124, 189, 0), 0 0 0 0 rgba(19, 124, 189, 0), inset 0 0 0 1px #137cbd, inset 0 0 0 1px rgba(16, 22, 26, 0.15), inset 0 1px 1px rgba(16, 22, 26, 0.2); }
.bp5-timepicker .bp5-timepicker-input.bp5-intent-primary:focus{
  -webkit-box-shadow:0 0 0 1px #137cbd, 0 0 0 3px rgba(19, 124, 189, 0.3), inset 0 1px 1px rgba(16, 22, 26, 0.2);
  box-shadow:0 0 0 1px #137cbd, 0 0 0 3px rgba(19, 124, 189, 0.3), inset 0 1px 1px rgba(16, 22, 26, 0.2); }
.bp5-timepicker .bp5-timepicker-input.bp5-intent-primary[readonly]{
  -webkit-box-shadow:inset 0 0 0 1px #137cbd;
  box-shadow:inset 0 0 0 1px #137cbd; }
.bp5-timepicker .bp5-timepicker-input.bp5-intent-primary:disabled, .bp5-timepicker .bp5-timepicker-input.bp5-intent-primary.bp5-disabled{
  -webkit-box-shadow:none;
  box-shadow:none; }
.bp5-dark .bp5-timepicker .bp5-timepicker-input.bp5-intent-primary{
  -webkit-box-shadow:0 0 0 0 rgba(19, 124, 189, 0), 0 0 0 0 rgba(19, 124, 189, 0), 0 0 0 0 rgba(19, 124, 189, 0), inset 0 0 0 1px #137cbd, inset 0 0 0 1px rgba(16, 22, 26, 0.3), inset 0 1px 1px rgba(16, 22, 26, 0.4);
  box-shadow:0 0 0 0 rgba(19, 124, 189, 0), 0 0 0 0 rgba(19, 124, 189, 0), 0 0 0 0 rgba(19, 124, 189, 0), inset 0 0 0 1px #137cbd, inset 0 0 0 1px rgba(16, 22, 26, 0.3), inset 0 1px 1px rgba(16, 22, 26, 0.4); }
.bp5-dark .bp5-timepicker .bp5-timepicker-input.bp5-intent-primary:focus{
  -webkit-box-shadow:0 0 0 1px #137cbd, 0 0 0 1px #137cbd, 0 0 0 3px rgba(19, 124, 189, 0.3), inset 0 0 0 1px rgba(16, 22, 26, 0.3), inset 0 1px 1px rgba(16, 22, 26, 0.4);
  box-shadow:0 0 0 1px #137cbd, 0 0 0 1px #137cbd, 0 0 0 3px rgba(19, 124, 189, 0.3), inset 0 0 0 1px rgba(16, 22, 26, 0.3), inset 0 1px 1px rgba(16, 22, 26, 0.4); }
.bp5-dark .bp5-timepicker .bp5-timepicker-input.bp5-intent-primary[readonly]{
  -webkit-box-shadow:inset 0 0 0 1px #137cbd;
  box-shadow:inset 0 0 0 1px #137cbd; }
.bp5-dark .bp5-timepicker .bp5-timepicker-input.bp5-intent-primary:disabled, .bp5-dark .bp5-timepicker .bp5-timepicker-input.bp5-intent-primary.bp5-disabled{
  -webkit-box-shadow:none;
  box-shadow:none; }
.bp5-timepicker .bp5-timepicker-input.bp5-intent-success{
  -webkit-box-shadow:0 0 0 0 rgba(15, 153, 96, 0), 0 0 0 0 rgba(15, 153, 96, 0), inset 0 0 0 1px #0f9960, inset 0 0 0 1px rgba(16, 22, 26, 0.15), inset 0 1px 1px rgba(16, 22, 26, 0.2);
  box-shadow:0 0 0 0 rgba(15, 153, 96, 0), 0 0 0 0 rgba(15, 153, 96, 0), inset 0 0 0 1px #0f9960, inset 0 0 0 1px rgba(16, 22, 26, 0.15), inset 0 1px 1px rgba(16, 22, 26, 0.2); }
.bp5-timepicker .bp5-timepicker-input.bp5-intent-success:focus{
  -webkit-box-shadow:0 0 0 1px #0f9960, 0 0 0 3px rgba(15, 153, 96, 0.3), inset 0 1px 1px rgba(16, 22, 26, 0.2);
  box-shadow:0 0 0 1px #0f9960, 0 0 0 3px rgba(15, 153, 96, 0.3), inset 0 1px 1px rgba(16, 22, 26, 0.2); }
.bp5-timepicker .bp5-timepicker-input.bp5-intent-success[readonly]{
  -webkit-box-shadow:inset 0 0 0 1px #0f9960;
  box-shadow:inset 0 0 0 1px #0f9960; }
.bp5-timepicker .bp5-timepicker-input.bp5-intent-success:disabled, .bp5-timepicker .bp5-timepicker-input.bp5-intent-success.bp5-disabled{
  -webkit-box-shadow:none;
  box-shadow:none; }
.bp5-dark .bp5-timepicker .bp5-timepicker-input.bp5-intent-success{
  -webkit-box-shadow:0 0 0 0 rgba(15, 153, 96, 0), 0 0 0 0 rgba(15, 153, 96, 0), 0 0 0 0 rgba(15, 153, 96, 0), inset 0 0 0 1px #0f9960, inset 0 0 0 1px rgba(16, 22, 26, 0.3), inset 0 1px 1px rgba(16, 22, 26, 0.4);
  box-shadow:0 0 0 0 rgba(15, 153, 96, 0), 0 0 0 0 rgba(15, 153, 96, 0), 0 0 0 0 rgba(15, 153, 96, 0), inset 0 0 0 1px #0f9960, inset 0 0 0 1px rgba(16, 22, 26, 0.3), inset 0 1px 1px rgba(16, 22, 26, 0.4); }
.bp5-dark .bp5-timepicker .bp5-timepicker-input.bp5-intent-success:focus{
  -webkit-box-shadow:0 0 0 1px #0f9960, 0 0 0 1px #0f9960, 0 0 0 3px rgba(15, 153, 96, 0.3), inset 0 0 0 1px rgba(16, 22, 26, 0.3), inset 0 1px 1px rgba(16, 22, 26, 0.4);
  box-shadow:0 0 0 1px #0f9960, 0 0 0 1px #0f9960, 0 0 0 3px rgba(15, 153, 96, 0.3), inset 0 0 0 1px rgba(16, 22, 26, 0.3), inset 0 1px 1px rgba(16, 22, 26, 0.4); }
.bp5-dark .bp5-timepicker .bp5-timepicker-input.bp5-intent-success[readonly]{
  -webkit-box-shadow:inset 0 0 0 1px #0f9960;
  box-shadow:inset 0 0 0 1px #0f9960; }
.bp5-dark .bp5-timepicker .bp5-timepicker-input.bp5-intent-success:disabled, .bp5-dark .bp5-timepicker .bp5-timepicker-input.bp5-intent-success.bp5-disabled{
  -webkit-box-shadow:none;
  box-shadow:none; }
.bp5-timepicker .bp5-timepicker-input.bp5-intent-warning{
  -webkit-box-shadow:0 0 0 0 rgba(217, 130, 43, 0), 0 0 0 0 rgba(217, 130, 43, 0), inset 0 0 0 1px #d9822b, inset 0 0 0 1px rgba(16, 22, 26, 0.15), inset 0 1px 1px rgba(16, 22, 26, 0.2);
  box-shadow:0 0 0 0 rgba(217, 130, 43, 0), 0 0 0 0 rgba(217, 130, 43, 0), inset 0 0 0 1px #d9822b, inset 0 0 0 1px rgba(16, 22, 26, 0.15), inset 0 1px 1px rgba(16, 22, 26, 0.2); }
.bp5-timepicker .bp5-timepicker-input.bp5-intent-warning:focus{
  -webkit-box-shadow:0 0 0 1px #d9822b, 0 0 0 3px rgba(217, 130, 43, 0.3), inset 0 1px 1px rgba(16, 22, 26, 0.2);
  box-shadow:0 0 0 1px #d9822b, 0 0 0 3px rgba(217, 130, 43, 0.3), inset 0 1px 1px rgba(16, 22, 26, 0.2); }
.bp5-timepicker .bp5-timepicker-input.bp5-intent-warning[readonly]{
  -webkit-box-shadow:inset 0 0 0 1px #d9822b;
  box-shadow:inset 0 0 0 1px #d9822b; }
.bp5-timepicker .bp5-timepicker-input.bp5-intent-warning:disabled, .bp5-timepicker .bp5-timepicker-input.bp5-intent-warning.bp5-disabled{
  -webkit-box-shadow:none;
  box-shadow:none; }
.bp5-dark .bp5-timepicker .bp5-timepicker-input.bp5-intent-warning{
  -webkit-box-shadow:0 0 0 0 rgba(217, 130, 43, 0), 0 0 0 0 rgba(217, 130, 43, 0), 0 0 0 0 rgba(217, 130, 43, 0), inset 0 0 0 1px #d9822b, inset 0 0 0 1px rgba(16, 22, 26, 0.3), inset 0 1px 1px rgba(16, 22, 26, 0.4);
  box-shadow:0 0 0 0 rgba(217, 130, 43, 0), 0 0 0 0 rgba(217, 130, 43, 0), 0 0 0 0 rgba(217, 130, 43, 0), inset 0 0 0 1px #d9822b, inset 0 0 0 1px rgba(16, 22, 26, 0.3), inset 0 1px 1px rgba(16, 22, 26, 0.4); }
.bp5-dark .bp5-timepicker .bp5-timepicker-input.bp5-intent-warning:focus{
  -webkit-box-shadow:0 0 0 1px #d9822b, 0 0 0 1px #d9822b, 0 0 0 3px rgba(217, 130, 43, 0.3), inset 0 0 0 1px rgba(16, 22, 26, 0.3), inset 0 1px 1px rgba(16, 22, 26, 0.4);
  box-shadow:0 0 0 1px #d9822b, 0 0 0 1px #d9822b, 0 0 0 3px rgba(217, 130, 43, 0.3), inset 0 0 0 1px rgba(16, 22, 26, 0.3), inset 0 1px 1px rgba(16, 22, 26, 0.4); }
.bp5-dark .bp5-timepicker .bp5-timepicker-input.bp5-intent-warning[readonly]{
  -webkit-box-shadow:inset 0 0 0 1px #d9822b;
  box-shadow:inset 0 0 0 1px #d9822b; }
.bp5-dark .bp5-timepicker .bp5-timepicker-input.bp5-intent-warning:disabled, .bp5-dark .bp5-timepicker .bp5-timepicker-input.bp5-intent-warning.bp5-disabled{
  -webkit-box-shadow:none;
  box-shadow:none; }
.bp5-timepicker .bp5-timepicker-input.bp5-intent-danger{
  -webkit-box-shadow:0 0 0 0 rgba(219, 55, 55, 0), 0 0 0 0 rgba(219, 55, 55, 0), inset 0 0 0 1px #db3737, inset 0 0 0 1px rgba(16, 22, 26, 0.15), inset 0 1px 1px rgba(16, 22, 26, 0.2);
  box-shadow:0 0 0 0 rgba(219, 55, 55, 0), 0 0 0 0 rgba(219, 55, 55, 0), inset 0 0 0 1px #db3737, inset 0 0 0 1px rgba(16, 22, 26, 0.15), inset 0 1px 1px rgba(16, 22, 26, 0.2); }
.bp5-timepicker .bp5-timepicker-input.bp5-intent-danger:focus{
  -webkit-box-shadow:0 0 0 1px #db3737, 0 0 0 3px rgba(219, 55, 55, 0.3), inset 0 1px 1px rgba(16, 22, 26, 0.2);
  box-shadow:0 0 0 1px #db3737, 0 0 0 3px rgba(219, 55, 55, 0.3), inset 0 1px 1px rgba(16, 22, 26, 0.2); }
.bp5-timepicker .bp5-timepicker-input.bp5-intent-danger[readonly]{
  -webkit-box-shadow:inset 0 0 0 1px #db3737;
  box-shadow:inset 0 0 0 1px #db3737; }
.bp5-timepicker .bp5-timepicker-input.bp5-intent-danger:disabled, .bp5-timepicker .bp5-timepicker-input.bp5-intent-danger.bp5-disabled{
  -webkit-box-shadow:none;
  box-shadow:none; }
.bp5-dark .bp5-timepicker .bp5-timepicker-input.bp5-intent-danger{
  -webkit-box-shadow:0 0 0 0 rgba(219, 55, 55, 0), 0 0 0 0 rgba(219, 55, 55, 0), 0 0 0 0 rgba(219, 55, 55, 0), inset 0 0 0 1px #db3737, inset 0 0 0 1px rgba(16, 22, 26, 0.3), inset 0 1px 1px rgba(16, 22, 26, 0.4);
  box-shadow:0 0 0 0 rgba(219, 55, 55, 0), 0 0 0 0 rgba(219, 55, 55, 0), 0 0 0 0 rgba(219, 55, 55, 0), inset 0 0 0 1px #db3737, inset 0 0 0 1px rgba(16, 22, 26, 0.3), inset 0 1px 1px rgba(16, 22, 26, 0.4); }
.bp5-dark .bp5-timepicker .bp5-timepicker-input.bp5-intent-danger:focus{
  -webkit-box-shadow:0 0 0 1px #db3737, 0 0 0 1px #db3737, 0 0 0 3px rgba(219, 55, 55, 0.3), inset 0 0 0 1px rgba(16, 22, 26, 0.3), inset 0 1px 1px rgba(16, 22, 26, 0.4);
  box-shadow:0 0 0 1px #db3737, 0 0 0 1px #db3737, 0 0 0 3px rgba(219, 55, 55, 0.3), inset 0 0 0 1px rgba(16, 22, 26, 0.3), inset 0 1px 1px rgba(16, 22, 26, 0.4); }
.bp5-dark .bp5-timepicker .bp5-timepicker-input.bp5-intent-danger[readonly]{
  -webkit-box-shadow:inset 0 0 0 1px #db3737;
  box-shadow:inset 0 0 0 1px #db3737; }
.bp5-dark .bp5-timepicker .bp5-timepicker-input.bp5-intent-danger:disabled, .bp5-dark .bp5-timepicker .bp5-timepicker-input.bp5-intent-danger.bp5-disabled{
  -webkit-box-shadow:none;
  box-shadow:none; }
.bp5-timepicker .bp5-timepicker-ampm-select{
  margin-left:5px; }
.bp5-timepicker.bp5-disabled .bp5-timepicker-input-row{
  background:rgba(206, 217, 224, 0.5);
  -webkit-box-shadow:none;
  box-shadow:none;
  color:rgba(92, 112, 128, 0.6);
  cursor:not-allowed;
  resize:none; }
.bp5-timepicker.bp5-disabled .bp5-timepicker-input,
.bp5-timepicker.bp5-disabled .bp5-timepicker-divider-text{
  color:rgba(92, 112, 128, 0.6);
  cursor:not-allowed; }
.bp5-timepicker.bp5-disabled .bp5-timepicker-arrow-button,
.bp5-timepicker.bp5-disabled .bp5-timepicker-arrow-button:hover{
  color:rgba(92, 112, 128, 0.6);
  cursor:not-allowed; }

.bp5-dark .bp5-timepicker .bp5-timepicker-input-row{
  background:rgba(16, 22, 26, 0.3);
  -webkit-box-shadow:inset 0 0 0 1px rgba(16, 22, 26, 0.3), inset 0 1px 1px rgba(16, 22, 26, 0.4);
  box-shadow:inset 0 0 0 1px rgba(16, 22, 26, 0.3), inset 0 1px 1px rgba(16, 22, 26, 0.4); }

.bp5-dark .bp5-timepicker .bp5-timepicker-divider-text{
  color:#a7b6c2; }

.bp5-dark .bp5-timepicker .bp5-timepicker-input{
  color:#f5f8fa; }

.bp5-datepicker .bp5-timepicker{
  margin-bottom:10px;
  margin-top:5px; }
.bp5-datepicker .bp5-timepicker:last-child{
  margin-bottom:5px; }
.bp5-datetimepicker{
  background-color:#ffffff;
  border-radius:3px;
  padding:10px;
  text-align:center; }
.bp5-dark .bp5-datetimepicker{
  background:#30404d; }
.bp5-dark .bp5-datetimepicker .bp5-datepicker{
  border-bottom:1px solid rgba(16, 22, 26, 0.4); }
.bp5-datetimepicker .bp5-datepicker{
  border-bottom:1px solid rgba(16, 22, 26, 0.15);
  padding:0 0 10px; }
.bp5-datetimepicker .bp5-timepicker{
  margin-top:10px; }

.bp5-dateinput-popover{
  padding:0; }
/*# sourceMappingURL=blueprint-datetime.css.map */

.bp5-dark .almalinux-logo {
  opacity: 0.8;
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20xml%3Aspace%3D%27preserve%27%20id%3D%27Layer_1%27%20x%3D%270%27%20y%3D%270%27%20version%3D%271.1%27%20viewBox%3D%270%200%2061.028%2059.731%27%3E%3Cstyle%20id%3D%27style2%27%20type%3D%27text%2Fcss%27%3E.st1%7Bfill%3A%2386da2f%7D.st2%7Bfill%3A%2324c2ff%7D.st3%7Bfill%3A%23ffcb12%7D.st4%7Bfill%3A%230069da%7D.st5%7Bfill%3A%23ff4649%7D%3C%2Fstyle%3E%3Cpath%20id%3D%27path22%27%20d%3D%27M56.114%2033.731c2.6-.2%204.7%201.5%204.9%204.1.2%202.7-1.7%204.9-4.3%205.1-2.5.2-4.7-1.7-4.9-4.2-.2-2.7%201.6-4.7%204.3-5z%27%20class%3D%27st1%27%20style%3D%27fill%3A%23fff%3Bfill-opacity%3A1%27%2F%3E%3Cpath%20id%3D%27path24%27%20d%3D%27M24.514%2055.031c0-2.6%202-4.6%204.4-4.6%202.4%200%204.7%202.2%204.7%204.7%200%202.4-2%204.5-4.3%204.6-2.9%200-4.8-1.8-4.8-4.7z%27%20class%3D%27st2%27%20style%3D%27fill%3A%23fff%3Bfill-opacity%3A1%27%2F%3E%3Cpath%20id%3D%27path26%27%20d%3D%27M31.614%2025.831c-.4.2-.6-.1-.7-.4-3.7-6.9-2.6-15.6%203.9-20.8%201.7-1.4%204.9-1.7%206.3-.3.6.5.7%201.1.8%201.8.2%201.5.5%203%201.5%204.2%201.1%201.3%202.5%201.8%204.1%201.7%201.4%200%202.8-.2%203.7%201.4.5.9.3%204.4-.5%205.1-.4.3-.7.1-1%200-2.3-.9-4.7-.9-7.1-.5-.8.1-1.2-.1-1.2-1-.1-1.5-.4-2.9-1.2-4.2-1.5-2.7-4.3-2.8-6.1-.3-1.5%202-1.9%204.4-2.3%206.8-.4%202.1-.3%204.3-.2%206.5%200%200-.1%200%200%200z%27%20class%3D%27st3%27%20style%3D%27fill%3A%23fff%3Bfill-opacity%3A1%27%2F%3E%3Cpath%20id%3D%27path28%27%20d%3D%27M34.114%2027.331c-.2-.3-.1-.6.2-.8%205.7-5.2%2014.2-6.2%2020.8-1.1%201.7%201.4%202.8%204.3%201.9%206-.4.7-.9%201-1.5%201.2-1.4.6-2.7%201.2-3.6%202.5-.9%201.3-1.1%202.8-.7%204.4.3%201.3.8%202.7-.5%203.9-.7.7-4.1%201.3-5%20.7-.4-.3-.3-.6-.2-1%20.3-2.5-.3-4.8-1.2-7-.3-.8-.2-1.2.6-1.4%201.4-.4%202.7-1.1%203.7-2.1%202.2-2.1%201.7-4.8-1.2-6-2.3-1-4.7-.8-7-.6-2.2.1-4.3.7-6.3%201.3z%27%20class%3D%27st1%27%20style%3D%27fill%3A%23fff%3Bfill-opacity%3A1%27%2F%3E%3Cpath%20id%3D%27path30%27%20d%3D%27M32.814%2029.931c.3-.3.5-.2.8%200%206.6%204%2010%2011.9%207%2019.6-.8%202-3.4%204-5.3%203.5-.8-.2-1.2-.6-1.6-1.1-.9-1.2-1.9-2.3-3.4-2.8-1.6-.5-3-.2-4.4.6-1.2.7-2.4%201.6-3.9.7-.9-.5-2.4-3.6-2.1-4.6.2-.4.6-.4%201-.4%202.5-.4%204.5-1.6%206.4-3.2.6-.5%201.1-.5%201.6.2.8%201.2%201.8%202.2%203.1%202.9%202.6%201.5%205.1.2%205.4-2.8.3-2.5-.6-4.7-1.4-6.9-.9-2-2-3.9-3.2-5.7z%27%20class%3D%27st2%27%20style%3D%27fill%3A%23fff%3Bfill-opacity%3A1%27%2F%3E%3Cpath%20id%3D%27path32%27%20d%3D%27M29.614%2030.531c-.4%202-1.3%203.9-2.5%205.6-3.6%205.4-8.8%207.6-15.2%207-2.3-.2-4.2-2.1-4.4-4-.1-.8.1-1.4.6-2%20.7-.9%201.3-1.7%201.6-2.8.6-2.2-.2-4-1.8-5.6-2.2-2.2-1.9-4.2.7-5.8.3-.2.7-.4%201.1-.6.6-.3%201.1-.3%201.3.4.9%202.3%202.7%204%204.7%205.4.7.6.7%201%20.1%201.7-1.2%201.3-1.9%202.9-2%204.7-.2%202.2%201.1%203.6%203.3%203.6%201.4%200%202.7-.5%203.9-1.1%203.1-1.6%205.5-3.9%207.8-6.3.3-.1.4-.3.8-.2z%27%20class%3D%27st4%27%20style%3D%27fill%3A%23fff%3Bfill-opacity%3A1%27%2F%3E%3Cpath%20id%3D%27path34%27%20d%3D%27M13.214%209.531c.2%200%20.7.1%201.2.2%203.7.7%206-.6%207.2-4.1.8-2.3%202.5-3%204.7-1.8.1%200%20.1.1.2.1%202.3%201.3%202.3%201.5.9%203.5-1.2%201.6-1.8%203.4-2.1%205.3-.2%201.1-.6%201.3-1.6.9-1.6-.6-3.3-.6-5%200-1.9.6-2.7%202.3-2.1%204.2.8%202.5%203%203.6%204.9%204.9%201.9%201.3%204.1%202%206.2%202.9.3.1.8.1.7.6-.1.3-.5.3-.9.3-4.5.2-8.8-.5-12.3-3.5-3.3-2.7-5.7-6-5.3-10.6.3-1.5%201.4-2.6%203.3-2.9z%27%20class%3D%27st5%27%20style%3D%27fill%3A%23fff%3Bfill-opacity%3A1%27%2F%3E%3Cpath%20id%3D%27path36%27%20d%3D%27M5.014%2037.631c-2.4.3-4.8-1.7-5-4.2-.2-2.4%201.8-4.8%204.1-5%202.6-.3%205%201.5%205.2%203.9.1%202.3-1.4%205.1-4.3%205.3z%27%20class%3D%27st4%27%20style%3D%27fill%3A%23fff%3Bfill-opacity%3A1%27%2F%3E%3Cpath%20id%3D%27path38%27%20d%3D%27M47.014%202.031c2.5-.2%204.9%201.8%205.1%204.3.2%202.4-1.8%204.7-4.2%204.9-2.6.2-4.9-1.7-5.1-4.2-.2-2.5%201.6-4.8%204.2-5z%27%20class%3D%27st3%27%20style%3D%27fill%3A%23fff%3Bfill-opacity%3A1%27%2F%3E%3Cpath%20id%3D%27path40%27%20d%3D%27M20.914%203.931c.3%202.6-1.5%204.8-4.2%205.2-2.3.3-4.7-1.6-5-3.8-.3-2.9%201.3-5%204-5.3%202.5-.3%204.9%201.6%205.2%203.9z%27%20class%3D%27st5%27%20style%3D%27fill%3A%23fff%3Bfill-opacity%3A1%27%2F%3E%3C%2Fsvg%3E");
}

.almalinux-logo {
  opacity: 0.5;
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20xml%3Aspace%3D%27preserve%27%20id%3D%27Layer_1%27%20x%3D%270%27%20y%3D%270%27%20version%3D%271.1%27%20viewBox%3D%270%200%2061.028%2059.731%27%3E%3Cstyle%20id%3D%27style2%27%20type%3D%27text%2Fcss%27%3E.st1%7Bfill%3A%2386da2f%7D.st2%7Bfill%3A%2324c2ff%7D.st3%7Bfill%3A%23ffcb12%7D.st4%7Bfill%3A%230069da%7D.st5%7Bfill%3A%23ff4649%7D%3C%2Fstyle%3E%3Cpath%20id%3D%27path22%27%20d%3D%27M56.114%2033.731c2.6-.2%204.7%201.5%204.9%204.1.2%202.7-1.7%204.9-4.3%205.1-2.5.2-4.7-1.7-4.9-4.2-.2-2.7%201.6-4.7%204.3-5z%27%20class%3D%27st1%27%20style%3D%27fill%3A%23000%3Bfill-opacity%3A1%27%2F%3E%3Cpath%20id%3D%27path24%27%20d%3D%27M24.514%2055.031c0-2.6%202-4.6%204.4-4.6%202.4%200%204.7%202.2%204.7%204.7%200%202.4-2%204.5-4.3%204.6-2.9%200-4.8-1.8-4.8-4.7z%27%20class%3D%27st2%27%20style%3D%27fill%3A%23000%3Bfill-opacity%3A1%27%2F%3E%3Cpath%20id%3D%27path26%27%20d%3D%27M31.614%2025.831c-.4.2-.6-.1-.7-.4-3.7-6.9-2.6-15.6%203.9-20.8%201.7-1.4%204.9-1.7%206.3-.3.6.5.7%201.1.8%201.8.2%201.5.5%203%201.5%204.2%201.1%201.3%202.5%201.8%204.1%201.7%201.4%200%202.8-.2%203.7%201.4.5.9.3%204.4-.5%205.1-.4.3-.7.1-1%200-2.3-.9-4.7-.9-7.1-.5-.8.1-1.2-.1-1.2-1-.1-1.5-.4-2.9-1.2-4.2-1.5-2.7-4.3-2.8-6.1-.3-1.5%202-1.9%204.4-2.3%206.8-.4%202.1-.3%204.3-.2%206.5%200%200-.1%200%200%200z%27%20class%3D%27st3%27%20style%3D%27fill%3A%23000%3Bfill-opacity%3A1%27%2F%3E%3Cpath%20id%3D%27path28%27%20d%3D%27M34.114%2027.331c-.2-.3-.1-.6.2-.8%205.7-5.2%2014.2-6.2%2020.8-1.1%201.7%201.4%202.8%204.3%201.9%206-.4.7-.9%201-1.5%201.2-1.4.6-2.7%201.2-3.6%202.5-.9%201.3-1.1%202.8-.7%204.4.3%201.3.8%202.7-.5%203.9-.7.7-4.1%201.3-5%20.7-.4-.3-.3-.6-.2-1%20.3-2.5-.3-4.8-1.2-7-.3-.8-.2-1.2.6-1.4%201.4-.4%202.7-1.1%203.7-2.1%202.2-2.1%201.7-4.8-1.2-6-2.3-1-4.7-.8-7-.6-2.2.1-4.3.7-6.3%201.3z%27%20class%3D%27st1%27%20style%3D%27fill%3A%23000%3Bfill-opacity%3A1%27%2F%3E%3Cpath%20id%3D%27path30%27%20d%3D%27M32.814%2029.931c.3-.3.5-.2.8%200%206.6%204%2010%2011.9%207%2019.6-.8%202-3.4%204-5.3%203.5-.8-.2-1.2-.6-1.6-1.1-.9-1.2-1.9-2.3-3.4-2.8-1.6-.5-3-.2-4.4.6-1.2.7-2.4%201.6-3.9.7-.9-.5-2.4-3.6-2.1-4.6.2-.4.6-.4%201-.4%202.5-.4%204.5-1.6%206.4-3.2.6-.5%201.1-.5%201.6.2.8%201.2%201.8%202.2%203.1%202.9%202.6%201.5%205.1.2%205.4-2.8.3-2.5-.6-4.7-1.4-6.9-.9-2-2-3.9-3.2-5.7z%27%20class%3D%27st2%27%20style%3D%27fill%3A%23000%3Bfill-opacity%3A1%27%2F%3E%3Cpath%20id%3D%27path32%27%20d%3D%27M29.614%2030.531c-.4%202-1.3%203.9-2.5%205.6-3.6%205.4-8.8%207.6-15.2%207-2.3-.2-4.2-2.1-4.4-4-.1-.8.1-1.4.6-2%20.7-.9%201.3-1.7%201.6-2.8.6-2.2-.2-4-1.8-5.6-2.2-2.2-1.9-4.2.7-5.8.3-.2.7-.4%201.1-.6.6-.3%201.1-.3%201.3.4.9%202.3%202.7%204%204.7%205.4.7.6.7%201%20.1%201.7-1.2%201.3-1.9%202.9-2%204.7-.2%202.2%201.1%203.6%203.3%203.6%201.4%200%202.7-.5%203.9-1.1%203.1-1.6%205.5-3.9%207.8-6.3.3-.1.4-.3.8-.2z%27%20class%3D%27st4%27%20style%3D%27fill%3A%23000%3Bfill-opacity%3A1%27%2F%3E%3Cpath%20id%3D%27path34%27%20d%3D%27M13.214%209.531c.2%200%20.7.1%201.2.2%203.7.7%206-.6%207.2-4.1.8-2.3%202.5-3%204.7-1.8.1%200%20.1.1.2.1%202.3%201.3%202.3%201.5.9%203.5-1.2%201.6-1.8%203.4-2.1%205.3-.2%201.1-.6%201.3-1.6.9-1.6-.6-3.3-.6-5%200-1.9.6-2.7%202.3-2.1%204.2.8%202.5%203%203.6%204.9%204.9%201.9%201.3%204.1%202%206.2%202.9.3.1.8.1.7.6-.1.3-.5.3-.9.3-4.5.2-8.8-.5-12.3-3.5-3.3-2.7-5.7-6-5.3-10.6.3-1.5%201.4-2.6%203.3-2.9z%27%20class%3D%27st5%27%20style%3D%27fill%3A%23000%3Bfill-opacity%3A1%27%2F%3E%3Cpath%20id%3D%27path36%27%20d%3D%27M5.014%2037.631c-2.4.3-4.8-1.7-5-4.2-.2-2.4%201.8-4.8%204.1-5%202.6-.3%205%201.5%205.2%203.9.1%202.3-1.4%205.1-4.3%205.3z%27%20class%3D%27st4%27%20style%3D%27fill%3A%23000%3Bfill-opacity%3A1%27%2F%3E%3Cpath%20id%3D%27path38%27%20d%3D%27M47.014%202.031c2.5-.2%204.9%201.8%205.1%204.3.2%202.4-1.8%204.7-4.2%204.9-2.6.2-4.9-1.7-5.1-4.2-.2-2.5%201.6-4.8%204.2-5z%27%20class%3D%27st3%27%20style%3D%27fill%3A%23000%3Bfill-opacity%3A1%27%2F%3E%3Cpath%20id%3D%27path40%27%20d%3D%27M20.914%203.931c.3%202.6-1.5%204.8-4.2%205.2-2.3.3-4.7-1.6-5-3.8-.3-2.9%201.3-5%204-5.3%202.5-.3%204.9%201.6%205.2%203.9z%27%20class%3D%27st5%27%20style%3D%27fill%3A%23000%3Bfill-opacity%3A1%27%2F%3E%3C%2Fsvg%3E");
}

.bp5-dark .alpinelinux-logo {
  opacity: 0.8;
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20xml%3Aspace%3D%27preserve%27%20width%3D%27186.125%27%20height%3D%27161.25%27%3E%3Cpath%20d%3D%27M0%200v15.7L-11.3%204.4a33.27%2033.27%200%200%201%203.44-2.11c1.08-.567%202.09-1%203.03-1.34.941-.334%201.81-.562%202.62-.71C-1.406.093-.67.027%200%20.018m57.8%201.3c.02-.017.13-.11.333-.239a5.89%205.89%200%200%201%20.898-.462%208.098%208.098%200%200%201%201.48-.448c.596-.122%201.29-.202%202.1-.202.671%200%201.41.059%202.22.2.812.142%201.69.367%202.64.699a23.4%2023.4%200%200%201%203.07%201.34c1.09.572%202.26%201.28%203.5%202.14l-8.57%208.4-28.4%2028.5-12.5-12.5-16.8%2017.3-42.2-41.7c1.24-.86%202.4-1.56%203.49-2.14%201.09-.571%202.12-1.01%203.07-1.34a16.71%2016.71%200%200%201%202.64-.698%2012.85%2012.85%200%200%201%202.22-.201c.804%200%201.5.08%202.1.202a7.78%207.78%200%200%201%201.48.449c.396.164.693.331.897.461.204.13.314.223.334.24l19.1%2019.1%206.81%206.53%2018.9-18.9%206.59-6.78c.02-.017.13-.11.334-.239a5.87%205.87%200%200%201%20.897-.462c.396-.164.89-.327%201.48-.448.596-.122%201.3-.202%202.1-.202.67%200%201.41.059%202.22.2.811.142%201.69.367%202.64.699.952.333%201.98.773%203.07%201.34%201.09.572%202.26%201.28%203.5%202.14l-15.1%2014.8%202.82%202.82%2013.1-13.1%207.64-7.57m-.163%2079%2037.2-64.5-37.2-64.5h-74.5l-37.2%2064.5%2037.2%2064.5z%27%20style%3D%27fill%3A%23fff%3Bfill-opacity%3A1%27%20transform%3D%27matrix%281.25%200%200%20-1.25%2067.45%20100.309%29%27%2F%3E%3Cpath%20d%3D%27m0%200-9.91%209.9.705.709L.775.739z%27%20style%3D%27fill%3A%23fff%3Bfill-opacity%3A1%27%20transform%3D%27matrix%281.25%200%200%20-1.25%20111.2%2076.559%29%27%2F%3E%3C%2Fsvg%3E");
}

.alpinelinux-logo {
  opacity: 0.5;
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20xml%3Aspace%3D%27preserve%27%20width%3D%27186.125%27%20height%3D%27161.25%27%3E%3Cpath%20d%3D%27M0%200v15.7L-11.3%204.4a33.27%2033.27%200%200%201%203.44-2.11c1.08-.567%202.09-1%203.03-1.34.941-.334%201.81-.562%202.62-.71C-1.406.093-.67.027%200%20.018m57.8%201.3c.02-.017.13-.11.333-.239a5.89%205.89%200%200%201%20.898-.462%208.098%208.098%200%200%201%201.48-.448c.596-.122%201.29-.202%202.1-.202.671%200%201.41.059%202.22.2.812.142%201.69.367%202.64.699a23.4%2023.4%200%200%201%203.07%201.34c1.09.572%202.26%201.28%203.5%202.14l-8.57%208.4-28.4%2028.5-12.5-12.5-16.8%2017.3-42.2-41.7c1.24-.86%202.4-1.56%203.49-2.14%201.09-.571%202.12-1.01%203.07-1.34a16.71%2016.71%200%200%201%202.64-.698%2012.85%2012.85%200%200%201%202.22-.201c.804%200%201.5.08%202.1.202a7.78%207.78%200%200%201%201.48.449c.396.164.693.331.897.461.204.13.314.223.334.24l19.1%2019.1%206.81%206.53%2018.9-18.9%206.59-6.78c.02-.017.13-.11.334-.239a5.87%205.87%200%200%201%20.897-.462c.396-.164.89-.327%201.48-.448.596-.122%201.3-.202%202.1-.202.67%200%201.41.059%202.22.2.811.142%201.69.367%202.64.699.952.333%201.98.773%203.07%201.34%201.09.572%202.26%201.28%203.5%202.14l-15.1%2014.8%202.82%202.82%2013.1-13.1%207.64-7.57m-.163%2079%2037.2-64.5-37.2-64.5h-74.5l-37.2%2064.5%2037.2%2064.5z%27%20style%3D%27fill%3A%23000%3Bfill-opacity%3A1%27%20transform%3D%27matrix%281.25%200%200%20-1.25%2067.45%20100.309%29%27%2F%3E%3Cpath%20d%3D%27m0%200-9.91%209.9.705.709L.775.739z%27%20style%3D%27fill%3A%23000%3Bfill-opacity%3A1%27%20transform%3D%27matrix%281.25%200%200%20-1.25%20111.2%2076.559%29%27%2F%3E%3C%2Fsvg%3E");
}

.bp5-dark .fedora-logo {
  opacity: 0.8;
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20width%3D%27512.041%27%20height%3D%27502.439%27%20viewBox%3D%270%200%20135.478%20132.937%27%3E%3Cpath%20d%3D%27M67.775%200C30.366%200%20.079%2029.732.012%2066.439H0v51.43h.012c.018%208.325%206.903%2015.068%2015.393%2015.068H67.78c37.415-.024%2067.697-29.752%2067.697-66.439C135.478%2029.792%20105.157.06%2067.715.06zm13.771%2027.338-.007.02c11.376%200%2022.116%208.543%2022.116%2020.328%200%201.094.007%202.187-.176%203.427-.315%203.135-3.236%205.388-6.417%204.946-3.181-.447-5.34-3.41-4.752-6.509.054-.354.074-.91.074-1.865%200-6.683-5.576-9.264-10.846-9.264-5.27%200-10.019%204.346-10.026%209.264.091%205.687%200%2011.33%200%2017.007l9.78-.071c7.637-.155%207.723%2011.123.089%2011.07l-9.867.072c-.024%204.574.036%203.747.012%206.05%200%200%20.083%205.595-.087%209.834-1.18%2012.454-11.99%2022.407-24.98%2022.407-13.772%200-25.114-11.038-25.114-24.577.413-13.923%2011.733-24.875%2025.993-24.75l7.954-.058v11.05l-7.954.073h-.042c-7.835.227-14.552%205.447-14.677%2013.678%200%207.498%206.176%2013.506%2013.843%2013.506%207.657%200%2013.784-5.464%2013.784-13.493l-.012-41.855c.005-.777.03-1.394.117-2.251%201.292-10.238%2010.627-18.04%2021.195-18.04z%27%20style%3D%27fill%3A%23fff%3Bfill-opacity%3A1%27%2F%3E%3C%2Fsvg%3E");
}

.fedora-logo {
  opacity: 0.5;
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20width%3D%27512.041%27%20height%3D%27502.439%27%20viewBox%3D%270%200%20135.478%20132.937%27%3E%3Cpath%20d%3D%27M67.775%200C30.366%200%20.079%2029.732.012%2066.439H0v51.43h.012c.018%208.325%206.903%2015.068%2015.393%2015.068H67.78c37.415-.024%2067.697-29.752%2067.697-66.439C135.478%2029.792%20105.157.06%2067.715.06zm13.771%2027.338-.007.02c11.376%200%2022.116%208.543%2022.116%2020.328%200%201.094.007%202.187-.176%203.427-.315%203.135-3.236%205.388-6.417%204.946-3.181-.447-5.34-3.41-4.752-6.509.054-.354.074-.91.074-1.865%200-6.683-5.576-9.264-10.846-9.264-5.27%200-10.019%204.346-10.026%209.264.091%205.687%200%2011.33%200%2017.007l9.78-.071c7.637-.155%207.723%2011.123.089%2011.07l-9.867.072c-.024%204.574.036%203.747.012%206.05%200%200%20.083%205.595-.087%209.834-1.18%2012.454-11.99%2022.407-24.98%2022.407-13.772%200-25.114-11.038-25.114-24.577.413-13.923%2011.733-24.875%2025.993-24.75l7.954-.058v11.05l-7.954.073h-.042c-7.835.227-14.552%205.447-14.677%2013.678%200%207.498%206.176%2013.506%2013.843%2013.506%207.657%200%2013.784-5.464%2013.784-13.493l-.012-41.855c.005-.777.03-1.394.117-2.251%201.292-10.238%2010.627-18.04%2021.195-18.04z%27%20style%3D%27fill%3A%23000%3Bfill-opacity%3A1%27%2F%3E%3C%2Fsvg%3E");
}

.bp5-dark .freebsd-logo {
  opacity: 0.8;
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20width%3D%272500%27%20height%3D%272461%27%20preserveAspectRatio%3D%27xMidYMid%27%20viewBox%3D%270%200%20256%20252%27%3E%3Cg%20fill%3D%27%23B5010F%27%20style%3D%27fill%3A%23fff%3Bfill-opacity%3A1%27%3E%3Cpath%20d%3D%27M252.723%205.11c13.508%2013.5-23.939%2072.848-30.27%2079.182-6.33%206.321-22.409.505-35.91-13-13.508-13.5-19.327-29.583-12.996-35.914%206.327-6.333%2065.671-43.777%2079.176-30.269M63.305%2019.394c-20.622-11.7-49.966-24.716-59.3-15.38-9.458%209.454%204.034%2039.458%2015.858%2060.117a126.812%20126.812%200%200%201%2043.442-44.737%27%20style%3D%27fill%3A%23fff%3Bfill-opacity%3A1%27%2F%3E%3Cpath%20d%3D%27M232.123%2079.636c1.899%206.44%201.558%2011.76-1.522%2014.834-7.193%207.196-26.624-.464-44.14-17.134a89.383%2089.383%200%200%201-3.627-3.428c-6.334-6.336-11.262-13.08-14.414-19.291-6.135-11.006-7.67-20.726-3.033-25.364%202.527-2.524%206.57-3.212%2011.502-2.325%203.216-2.034%207.013-4.3%2011.176-6.621-16.929-8.83-36.176-13.817-56.593-13.817C63.753%206.49%208.854%2061.38%208.854%20129.105c0%2067.713%2054.9%20122.61%20122.618%20122.61%2067.72%200%20122.616-54.897%20122.616-122.61%200-21.87-5.74-42.377-15.767-60.156-2.167%203.955-4.274%207.578-6.198%2010.687%27%20style%3D%27fill%3A%23fff%3Bfill-opacity%3A1%27%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
}

.freebsd-logo {
  opacity: 0.5;
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20width%3D%272500%27%20height%3D%272461%27%20preserveAspectRatio%3D%27xMidYMid%27%20viewBox%3D%270%200%20256%20252%27%3E%3Cg%20fill%3D%27%23B5010F%27%20style%3D%27fill%3A%23000%3Bfill-opacity%3A1%27%3E%3Cpath%20d%3D%27M252.723%205.11c13.508%2013.5-23.939%2072.848-30.27%2079.182-6.33%206.321-22.409.505-35.91-13-13.508-13.5-19.327-29.583-12.996-35.914%206.327-6.333%2065.671-43.777%2079.176-30.269M63.305%2019.394c-20.622-11.7-49.966-24.716-59.3-15.38-9.458%209.454%204.034%2039.458%2015.858%2060.117a126.812%20126.812%200%200%201%2043.442-44.737%27%20style%3D%27fill%3A%23000%3Bfill-opacity%3A1%27%2F%3E%3Cpath%20d%3D%27M232.123%2079.636c1.899%206.44%201.558%2011.76-1.522%2014.834-7.193%207.196-26.624-.464-44.14-17.134a89.383%2089.383%200%200%201-3.627-3.428c-6.334-6.336-11.262-13.08-14.414-19.291-6.135-11.006-7.67-20.726-3.033-25.364%202.527-2.524%206.57-3.212%2011.502-2.325%203.216-2.034%207.013-4.3%2011.176-6.621-16.929-8.83-36.176-13.817-56.593-13.817C63.753%206.49%208.854%2061.38%208.854%20129.105c0%2067.713%2054.9%20122.61%20122.618%20122.61%2067.72%200%20122.616-54.897%20122.616-122.61%200-21.87-5.74-42.377-15.767-60.156-2.167%203.955-4.274%207.578-6.198%2010.687%27%20style%3D%27fill%3A%23000%3Bfill-opacity%3A1%27%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
}

.bp5-dark .oraclelinux-logo {
  opacity: 0.8;
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20width%3D%2732%27%20height%3D%2720%27%3E%3Cpath%20fill%3D%27none%27%20stroke%3D%27%23C74634%27%20stroke-width%3D%274%27%20d%3D%27M10%202a8%208%200%201%200%200%2016h12a8%208%200%201%200%200-16z%27%20style%3D%27stroke%3A%23fff%3Bstroke-opacity%3A1%27%2F%3E%3C%2Fsvg%3E");
}

.oraclelinux-logo {
  opacity: 0.5;
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20width%3D%2732%27%20height%3D%2720%27%3E%3Cpath%20fill%3D%27none%27%20stroke%3D%27%23C74634%27%20stroke-width%3D%274%27%20d%3D%27M10%202a8%208%200%201%200%200%2016h12a8%208%200%201%200%200-16z%27%20style%3D%27stroke%3A%23000%3Bstroke-opacity%3A1%27%2F%3E%3C%2Fsvg%3E");
}

.bp5-dark .rockylinux-logo {
  opacity: 0.8;
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20width%3D%274096%27%20height%3D%274096%27%20fill%3D%27none%27%20viewBox%3D%270%200%20192%20192%27%3E%3Cpath%20fill%3D%27%2310B981%27%20fill-rule%3D%27evenodd%27%20d%3D%27M186.658%20127.658C190.119%20117.746%20192%20107.093%20192%2096c0-53.02-42.981-96-96-96C42.98%200%200%2042.98%200%2096c0%2026.234%2010.523%2050.011%2027.578%2067.338l97.38-97.38L149%2090l37.658%2037.658Zm-17.536%2030.547-44.164-44.163-69.16%2069.16C68.027%20188.849%2081.645%20192%2096%20192c29.288%200%2055.514-13.116%2073.122-33.795Z%27%20clip-rule%3D%27evenodd%27%20style%3D%27fill%3A%23fff%3Bfill-opacity%3A1%27%2F%3E%3C%2Fsvg%3E");
}

.rockylinux-logo {
  opacity: 0.5;
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20width%3D%274096%27%20height%3D%274096%27%20fill%3D%27none%27%20viewBox%3D%270%200%20192%20192%27%3E%3Cpath%20fill%3D%27%2310B981%27%20fill-rule%3D%27evenodd%27%20d%3D%27M186.658%20127.658C190.119%20117.746%20192%20107.093%20192%2096c0-53.02-42.981-96-96-96C42.98%200%200%2042.98%200%2096c0%2026.234%2010.523%2050.011%2027.578%2067.338l97.38-97.38L149%2090l37.658%2037.658Zm-17.536%2030.547-44.164-44.163-69.16%2069.16C68.027%20188.849%2081.645%20192%2096%20192c29.288%200%2055.514-13.116%2073.122-33.795Z%27%20clip-rule%3D%27evenodd%27%20style%3D%27fill%3A%23000%3Bfill-opacity%3A1%27%2F%3E%3C%2Fsvg%3E");
}

.bp5-dark .ubuntu-logo {
  opacity: 0.8;
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20id%3D%27Layer_1%27%20data-name%3D%27Layer%201%27%20version%3D%271.1%27%20viewBox%3D%270%200%20767.407%20738.314%27%3E%3Cdefs%20id%3D%27defs1%27%3E%3Cstyle%20id%3D%27style1%27%3E.cls-1%7Bfill%3A%23e9500e%7D%3C%2Fstyle%3E%3C%2Fdefs%3E%3Ccircle%20id%3D%27circle1%27%20cx%3D%27109.027%27%20cy%3D%27348.094%27%20r%3D%27109.027%27%20class%3D%27cls-1%27%20style%3D%27fill%3A%23fff%3Bfill-opacity%3A1%27%2F%3E%3Ccircle%20id%3D%27circle2%27%20cx%3D%27563.084%27%20cy%3D%27109.027%27%20r%3D%27109.027%27%20class%3D%27cls-1%27%20style%3D%27fill%3A%23fff%3Bfill-opacity%3A1%27%2F%3E%3Cpath%20id%3D%27path2%27%20d%3D%27M492.482%201336.666a265.525%20265.525%200%200%201-181.071-138.098%20156.948%20156.948%200%200%201-93.22%2011.458A354.935%20354.935%200%200%200%20473.73%201424.19a359.208%20359.208%200%200%200%2077.42%207.967%20156.003%20156.003%200%200%201-31.923-91.154%20271.194%20271.194%200%200%201-26.744-4.337Z%27%20class%3D%27cls-1%27%20style%3D%27fill%3A%23fff%3Bfill-opacity%3A1%27%20transform%3D%27translate%28-137.562%20-707.98%29%27%2F%3E%3Ccircle%20id%3D%27circle3%27%20cx%3D%27538.52%27%20cy%3D%27629.287%27%20r%3D%27109.027%27%20class%3D%27cls-1%27%20style%3D%27fill%3A%23fff%3Bfill-opacity%3A1%27%2F%3E%3Cpath%20id%3D%27path3%27%20d%3D%27M827.798%201297.22a356.7%20356.7%200%200%200%2017.875-418.518%20157.144%20157.144%200%200%201-61.31%2071.803%20267.293%20267.293%200%200%201-8.737%20265.488%20156.347%20156.347%200%200%201%2052.172%2081.228Z%27%20class%3D%27cls-1%27%20style%3D%27fill%3A%23fff%3Bfill-opacity%3A1%27%20transform%3D%27translate%28-137.562%20-707.98%29%27%2F%3E%3Cpath%20id%3D%27path4%27%20d%3D%27M238.176%20899.72q4.15-.229%208.306-.226a157.346%20157.346%200%200%201%2082.682%2023.545%20265.907%20265.907%200%200%201%20214.108-114.51%20158.088%20158.088%200%200%201%2033.076-88.42c-137.103-10.857-270.324%2059.892-338.172%20179.61Z%27%20class%3D%27cls-1%27%20style%3D%27fill%3A%23fff%3Bfill-opacity%3A1%27%20transform%3D%27translate%28-137.562%20-707.98%29%27%2F%3E%3C%2Fsvg%3E");
}

.ubuntu-logo {
  opacity: 0.5;
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20id%3D%27Layer_1%27%20data-name%3D%27Layer%201%27%20version%3D%271.1%27%20viewBox%3D%270%200%20767.407%20738.314%27%3E%3Cdefs%20id%3D%27defs1%27%3E%3Cstyle%20id%3D%27style1%27%3E.cls-1%7Bfill%3A%23e9500e%7D%3C%2Fstyle%3E%3C%2Fdefs%3E%3Ccircle%20id%3D%27circle1%27%20cx%3D%27109.027%27%20cy%3D%27348.094%27%20r%3D%27109.027%27%20class%3D%27cls-1%27%20style%3D%27fill%3A%23000%3Bfill-opacity%3A1%27%2F%3E%3Ccircle%20id%3D%27circle2%27%20cx%3D%27563.084%27%20cy%3D%27109.027%27%20r%3D%27109.027%27%20class%3D%27cls-1%27%20style%3D%27fill%3A%23000%3Bfill-opacity%3A1%27%2F%3E%3Cpath%20id%3D%27path2%27%20d%3D%27M492.482%201336.666a265.525%20265.525%200%200%201-181.071-138.098%20156.948%20156.948%200%200%201-93.22%2011.458A354.935%20354.935%200%200%200%20473.73%201424.19a359.208%20359.208%200%200%200%2077.42%207.967%20156.003%20156.003%200%200%201-31.923-91.154%20271.194%20271.194%200%200%201-26.744-4.337Z%27%20class%3D%27cls-1%27%20style%3D%27fill%3A%23000%3Bfill-opacity%3A1%27%20transform%3D%27translate%28-137.562%20-707.98%29%27%2F%3E%3Ccircle%20id%3D%27circle3%27%20cx%3D%27538.52%27%20cy%3D%27629.287%27%20r%3D%27109.027%27%20class%3D%27cls-1%27%20style%3D%27fill%3A%23000%3Bfill-opacity%3A1%27%2F%3E%3Cpath%20id%3D%27path3%27%20d%3D%27M827.798%201297.22a356.7%20356.7%200%200%200%2017.875-418.518%20157.144%20157.144%200%200%201-61.31%2071.803%20267.293%20267.293%200%200%201-8.737%20265.488%20156.347%20156.347%200%200%201%2052.172%2081.228Z%27%20class%3D%27cls-1%27%20style%3D%27fill%3A%23000%3Bfill-opacity%3A1%27%20transform%3D%27translate%28-137.562%20-707.98%29%27%2F%3E%3Cpath%20id%3D%27path4%27%20d%3D%27M238.176%20899.72q4.15-.229%208.306-.226a157.346%20157.346%200%200%201%2082.682%2023.545%20265.907%20265.907%200%200%201%20214.108-114.51%20158.088%20158.088%200%200%201%2033.076-88.42c-137.103-10.857-270.324%2059.892-338.172%20179.61Z%27%20class%3D%27cls-1%27%20style%3D%27fill%3A%23000%3Bfill-opacity%3A1%27%20transform%3D%27translate%28-137.562%20-707.98%29%27%2F%3E%3C%2Fsvg%3E");
}
